/* html5 reset css file */
@import url(html5reset.css);
/* standard css for desktop browsers */
/* maker felt font import*/
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body{
	background-color: #FF843E;
	font-family: Arial;
	color:black;
}

.intro{
	display:flex;
	flex-direction:column;
}

header{
	background-image:url(imgs/borderblack.jpg);
	padding:130px;
	margin: 40px;
	padding-bottom:100px;
	display:flex;
	flex-direction: column;
	width: 416px;
}
h1{
	display:flex;
	color:#D5544F;
	font-size: 40px;
	background-image: url(imgs/praisesquare.jpeg);
	width:416px;
	height:416px;
	justify-content: center;
	text-shadow: 0px 40px 0px #D5544F,
		0px 80px 0px #D5544F,
		0px 100px 0px #D5544F,
		0px 160px 0px #D5544F,
		0px 200px 0px #D5544F,
		20px 240px 0px #D5544F,
		0px 280px 0px #D5544F,
		0px 320px 0px #D5544F,
		0px 370px 0px #D5544F;
	/*text-shadow:1px 1px 0px #FEB086; yellow shadow*/
	/*text-shadow: 0.5px 0.5px 0 #FEB086,
    -0.5px 0.5px 0 #FEB086,
    0.5px -0.5px 0 #FEB086,
    -0.5px -0.5px 0 #FEB086,
    0px 0.5px 0 #FEB086,
    0px -0.5px 0 #FEB086,
    -0.5px 0px 0 #FEB086,
    0.5px 0px 0 #FEB086,
    1px 1px 0 #FEB086,
    -1px 1px 0 #FEB086,
    1px -1px 0 #FEB086,
    -1px -1px 0 #FEB086,
    0px 1px 0 #FEB086,
    0px -1px 0 #FEB086,
    -1px 0px 0 #FEB086,
    1px 0px 0 #FEB086,
    0.5px 1px 0 #FEB086,
    -0.5px 1px 0 #FEB086,
    0.5px -1px 0 #FEB086,
    -0.5px -1px 0 #FEB086,
    1px 0.5px 0 #FEB086,
    -1px 0.5px 0 #FEB086,
    1px -0.5px 0 #FEB086,
    -1px -0.5px 0 #FEB086;*/
}
h1:hover{
	background-image: url(imgs/praiseupsquarecopy.jpg);
}

h2{
	display:flex;
	color:#FEB086;
	font-size: 30px;
	font-family: Lucida Blackletter;
	width:100%;
	justify-content: center;
}

.preamle{
	position:relative;
}

.preamble h3{
	font-size: 30px;
	text-transform: uppercase;
	padding:40px;
	padding-bottom:90px;
	color:black;
	left:-400px;
	text-shadow: 70px 30px 0px black,
		0 -30px 0px black,
		0px 80px 0px black;
}
.preamble h3::after{
	content: "The Road to Enlightenment";
	text-transform: uppercase;
	color:black;
	width:20px;
	position:relative;
	left:-19px;
	z-index: -1;
}
h3{
	font-size: 30px;
	text-transform: uppercase;
	padding:40px;
	padding-bottom:90px;
	color:transparent;
	left:-400px;
	}

.select, .archives, .resources{
	font-size: 20.5px;
	color:#B43740;
	text-shadow:none;
	padding:inherit;
}

a{
	text-decoration: none;
	color: inherit;
}

.wrapper{
	display:flex;
	flex-direction:column;
	font-size: 20.5px;
	color:#B43740;
	font-family:'Permanent Marker', cursive;
	background-image: url(imgs/linedpaper.png);
	background-size:auto;
	background-repeat:no-repeat;
	position:absolute;
	left:716px;
	top:0;
	margin:40px;
	padding-left: 80px;
	padding-top:130px;
	padding-right: 80px;
	padding-bottom: 20px;
}
ul{
	list-style-type:disc;
	color:#B43740;
}
ul li{
	color:#30124F;
}

.main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin-top:100px;
}
.main div:hover{
	color:black;
}
.main div:hover > h3{
	color: black;
	text-shadow: 70px 30px 0px black,
		0 -30px 0px black,
		0px 80px 0px black;
}
.main div{
	width:33vw;
	height:33vw;
	color: transparent;
	margin:50px;
	position: relative;

	border-style: solid;
	border-width: 12.5vw;
	-moz-border-image: url(imgs/borderblack500.jpg) 200 repeat;
	-webkit-border-image: url(imgs/borderblack500.jpg) 200 repeat;
	-o-border-image: url(imgs/borderblack500.jpg) 200 repeat;
	border-image: url(imgs/borderblack500.jpg) 200 repeat;
}

/*album covers*/
.main div.explanation{
	background-image: url(imgs/30hours.jpg);
	background-size: cover;
}
.main div.participation{
	background-image: url(imgs/la.jpg);
	background-size: cover;
}
.main div.benefits{
	background-image: url(imgs/realfriends.png);
	background-size: cover;
}
.main div.requirements{
	background-image: url(imgs/onlyone.jpg);
	background-size: cover;
}
.main div:hover > :nth-child(2){
	width:33vw;
	position: absolute;
	top:-12vw;
	left:0;
	color:yellow;
}
.main div:hover > :nth-child(3){
	width:33vw;
	position: absolute;
	top:15vw;
	left:23vw;
	color:yellow;
	-ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
}

.main footer{
	width:50vw;
}
h2 abbr{
	margin:0 10px 0 10px;
}
abbr[title]{
	text-decoration: none;
	border-bottom: none;
	cursor:default;
}


/* override css for mobile browsers */
@media all and (min-width:320px) and (max-width:400px) {
	body {
		font-size:1em;
		background-color:orange;
	}
}
